doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    script(src='js/jquery.min.js')
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='ViewEmployeeList') Employees
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li.active 
              a Edit An Employee
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .jumbotron
            if (employee && department_list)
                h1 Edit Employee
                  if session.message
                    h3 New temporary data
                - var back_data = session.back_data; session.back_data = null;
                form.form.form-horizontal(role='form', action='#', method='post', enctype = 'multipart/form-data')
                  .form-group
                    label.col-xs-4.control-label Email Address
                    .col-xs-8
                      input.form-control(type='email', name='email', value='#{employee.email}', readonly='readonly', required='required')
                  .form-group
                    label.col-xs-4.control-label Full Name
                    .col-xs-8
                      input.form-control(type='text', name='name', value='#{back_data ? back_data.name : employee.name}', required='required')
                  .form-group
                    label.col-xs-4.control-label Mailing Address
                    .col-xs-8
                      input.form-control(type='text', name='address', value='#{back_data ? back_data.address : employee.address}', required='required')
                  .form-group
                    label.col-xs-4.control-label Department
                    .col-xs-8
                      select.form-control(name='department_id')
                        each d in department_list
                            - var d_id = (back_data ? back_data.department : employee.department._id)
                            - var selected = (d._id.toString() === d_id.toString());
                            if selected
                              option(value='#{d._id}', selected='') #{d.department_name}
                            else
                              option(value='#{d._id}') #{d.department_name}
                  .form-group
                    label.col-xs-4.control-label Job Title
                    .col-xs-8
                      input.form-control(type='text', name='job_title', value='#{back_data ? back_data.job_title : employee.job_title}', required='required')
                  .form-group
                    label.col-xs-4.control-label Avatar
                    .col-xs-8
                      input.form-control(type='file', name='avatar_url', accept="image/*")
                  .form-group
                    .col-xs-2
                      a.btn.btn-warning.btn-block.btn-lg(href='ViewEmployee?email=#{employee.email}') Go back
                    .col-xs-2.col-xs-offset-2
                      input(type='hidden', name='do_edit', value='yes')
                      input(type='hidden', name='_id', value='#{employee._id}')
                      input.btn.btn-success.btn-block.btn-lg(type='submit', value='Save')
        include ./common/footer
