doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    script(src='js/jquery.min.js')
    script(type='text/javascript').
      function validateForm() {
        var MAX_LENGTH = 100;
        var name = document.forms['edit_form']['department_name'].value;
        if (name.length > MAX_LENGTH) {
          alert('Your department name input was too long!');
          return false;
        } else if (!name || name.trim()=='') {
          alert('Please enter a valid department name!');
          return false;
        }
        var number = document.forms['edit_form']['office_number'].value;
        if (number.length > MAX_LENGTH) {
          alert('Your office number input was too long!');
          return false;
        } else if (!number || number.trim()=='') {
          alert('Please enter office number!');
          return false;
        }
        return true;
      }
      
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='ViewEmployeeList') Employees
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li.active
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .jumbotron
            h1 Edit A Department
            if department
              - var back_data = session.back_data; session.back_data = null;
              form#edit_form.form.form-horizontal(role='form', action='#', method='get', onSubmit='return validateForm()')
                .form-group
                  label.col-xs-2.control-label Department Name
                  .col-xs-10
                    input.form-control(type='text', name='department_name', value='#{back_data ? back_data.department_name : department.department_name}' required='required')
                .form-group
                  label.col-xs-2.control-label Office Number
                  .col-xs-4
                    input.form-control(type='text', name='office_number', value='#{back_data ? back_data.office_number : department.office_number}', required='required')
                  label.col-xs-2.control-label Manager
                  .col-xs-4
                    select.form-control(name='manager_id')
                      each e in employee_list
                        - if (e._id == department.manager.toString()) {
                          option(value='#{e._id}', selected='') #{e.name}
                        - } else {
                          option(value='#{e._id}') #{e.name}
                        - }
                .form-group
                  .col-xs-2.col-xs-offset-2
                    a.btn.btn-warning.btn-block(href='ViewDepartment?department_id=#{back_data? back_data.department_id : department._id}') Go back
                  .col-xs-2.col-xs-offset-2
                    input(type='hidden', name='do_edit', value='yes')
                    input(type='hidden', name='department_id', value='#{department._id}')
                    input.btn.btn-success.btn-block(type='submit', value='Save')
        include ./common/footer
