doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    script(src='js/jquery.min.js')
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.presentation
              a(href='ViewEmployeeList') Employees
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .jumbotron
          h1 Welcome to Employee Directory 
          if !session.email
            p
              | This is a simple NodeJS application that manages employees and departments. Before using this, please take a look at the top-right corner and log in to the system.
            p
              | Once you logged in to the system, you are able to process (insert, change, remove) the data.
            p
              | Or 
              a.btn.btn-info.btn-lg(href='Register', role='button') Register an account
              |  if you haven't had one before.
          else
            p
              | Hello 
              strong.text.text-primary= session.name
              | . Be great and happy!
        include ./common/footer