doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    script(src='js/jquery.min.js')
    script(type='text/javascript').
      function validateForm() {
        var MAX_LENGTH = 100;
        var email = document.forms['register_form']['email'].value;
        var re = /\S+@\S+\.\S+/;
        if (email.length > MAX_LENGTH) {
          alert('Your email input was too long!');
          return false;
        } else if (!email || email.trim()=='' || !re.test(email)) {
          alert('Please enter a valid email!');
          return false;
        }
        var name = document.forms['register_form']['name'].value;
        if (name.length > MAX_LENGTH) {
          alert('Your name input was too long!');
          return false;
        } else if (!name || name.trim()=='') {
          alert('Please enter name!');
          return false;
        }
        var password = document.forms['register_form']['password'].value;
        if (password.length > MAX_LENGTH) {
          alert('Your password input was too long!');
          return false;
        } else if (!password || password.trim()=='') {
          alert('Please enter password!');
          return false;
        }
        var password_confirmed = document.forms['register_form']['password_confirmed'].value;
        if (password_confirmed.length > MAX_LENGTH) {
          alert('Your pasword confirmation input was too long!');
          return false;
        } else if (!password_confirmed || password_confirmed.trim()=='') {
          alert('Please confirm pasword!');
          return false;
        }
        var address = document.forms['register_form']['address'].value;
        if (address.length > MAX_LENGTH) {
          alert('Your address input was too long!');
          return false;
        } else if (!address || address.trim()=='') {
          alert('Please enter address!');
          return false;
        }
        var department_id = document.forms['register_form']['department_id'].value;
        if (department_id.length > MAX_LENGTH) {
          alert('Your department_id input was invalid!');
          return false;
        } else if (!department_id || department_id.trim()=='') {
          alert('Please choose a department!');
          return false;
        }
        var job_title = document.forms['register_form']['job_title'].value;
        if (job_title.length > MAX_LENGTH) {
          alert('Your address input was too long!');
          return false;
        } else if (!job_title || job_title.trim()=='') {
          alert('Please enter job title!');
          return false;
        }
        return true;
      }
      
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='ViewEmployeeList') Employees
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewEmployeeList') List
            li.active
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .jumbotron
            h1 Register Employee
            if department_list
              - var back_data = session.back_data;
              - session.back_data = null;
              form#register_form.form.form-horizontal(role='form', action='#', method='post', onSubmit='return validateForm()')
                .form-group
                  label.col-xs-2.control-label Email Address
                  .col-xs-10
                    input.form-control(type='text', name='email', value='#{back_data?back_data.email:""}' required='required')
                .form-group
                  label.col-xs-2.control-label Password
                  .col-xs-5
                    input.form-control(type='password', name='password', required='required')
                  .col-xs-5
                    input.form-control(type='password', name='password_confirmed', placeholder='confirmed password', required='required')
                .form-group
                  label.col-xs-2.control-label Full Name
                  .col-xs-10
                    input.form-control(type='text', name='name', value='#{back_data?back_data.name:""}', required='required')
                .form-group
                  label.col-xs-2.control-label Mailing Address
                  .col-xs-10
                    input.form-control(type='text', name='address', value='#{back_data?back_data.address:""}', required='required')
                .form-group
                  label.col-xs-2.control-label Department
                  .col-xs-4
                    select.form-control(name='department_id')
                      each d in department_list
                        - var selected = (back_data ? (d._id.toString() == back_data.department.toString()) : false);
                        if selected
                          option(value='#{d._id}', selected='selected') #{d.department_name}
                        else
                          option(value='#{d._id}') #{d.department_name}
                  label.col-xs-2.control-label Job Title
                  .col-xs-4
                    input.form-control(type='text', name='job_title', value='#{back_data?back_data.job_title:""}', required='required')
                .form-group
                  .col-xs-4.col-xs-offset-4
                    input(type='hidden', name='do_register', value='yes')
                    input.btn.btn-success.btn-block(type='submit', value='Register')
        include ./common/footer
