html
	title Thử DB
	body
		if an_employee
			ul
				li= an_employee.name
				li= an_employee.email
				li= an_employee.password
				li= an_employee.address
				if department
					li= department.department_name
				else
					li chưa có ban
		else
			em.em Không có dữ liệu
	