doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-table.css')
    script(type='text/javascript', src='js/bootstrap-table.js')
    link(href='css/dataTables.bootstrap.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/dataTables.bootstrap.js')
    script.
      $(document).ready(function () {
          $('#EmployeeData').dataTable({
            "bPaginate": false,
            "info": false
          });
        });
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='ViewEmployeeList') Employees
            li.active
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .well
          if department_list
            table#EmployeeData.table.table-striped.table-bordered(cellspacing='0', width='100%')
              thead
                tr
                  th Department Name
                  th Office Number
                  th Manager
              tbody
                each d in department_list
                  tr
                    td
                      a(href="ViewDepartment?department_id=#{d._id}")
                        strong= d.department_name
                    td= d.office_number
                    td= d.manager ? d.manager.name : 'None'
        // /.well
        include ./common/footer
