doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-table.css')
    script(type='text/javascript', src='js/bootstrap-table.js')
    link(href='css/dataTables.bootstrap.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/dataTables.bootstrap.js')
    script.
      $(document).ready(function () {
      $('#EmployeeData').dataTable({
        "bPaginate": false,
            "info": false
      });
      });
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='ViewEmployeeList') Employees
            li.active
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li.active 
              a View Detail
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .well
          if department
            table.table.table-striped
              thead
                tr
                  th Department Name
                  th Office Number
                  th Manager
              tbody
                tr
                  td= department.department_name
                  td= department.office_number
                  td
                    if session.email
                      if department.manager
                        a(href="ViewEmployee?email=#{department.manager.email}")= department.manager.name
                    else
                      span= department.manager?department.manager.name:'None'
              if session.email
                caption
                  a.btn.btn-success(href='EditDepartment?department_id=#{department._id}') Edit
          table#EmployeeData.table.table-striped.table-bordered(cellspacing='0', width='100%')
            caption Employee List
            thead
              tr
                th Name
                th Job Title
                th Mailing Address
                th Email
            tbody
              each e in employee_list
                tr
                  td
                    if session.email
                      a(href='ViewEmployee?email=#{e.email}')
                        strong= e.name
                    else
                      strong= e.name
                  td= e.job_title
                  td= e.address
                  td= e.email
        // /.well
        include ./common/footer
