doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    script(src='js/jquery.min.js')
  body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='ViewEmployeeList') Employees
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='#') View Detail
            li
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              if employee.email == session.email
                li.active
                  a(href='ViewEmployee?email=#{session.email}') My Profile
              else
                li
                  a(href='ViewEmployee?email=#{session.email}') My Profile
      .col-sm-10
        .jumbotron(style='font-size:20px;')
            h1 Employee Details 
            if employee
              .row
                .col-xs-8
                  .row
                    .col-xs-4
                      span.text.text-muted Email Address
                    .col-xs-8
                      strong= employee.email
                  .row
                    .col-xs-4
                      span.text.text-muted Full Name
                    .col-xs-8
                      strong= employee.name
                  .row
                    .col-xs-4
                      span.text.text-muted Mailing Address
                    .col-xs-8
                      strong= employee.address
                  .row
                    .col-xs-4
                      span.text.text-muted Department
                    .col-xs-8
                      if employee.department
                        a(href='ViewDepartment?department_id=#{employee.department._id}')
                          strong= employee.department.department_name
                      else
                        span NONE
                  .row
                    .col-xs-4
                      span.text.text-muted Job Title
                    .col-xs-8
                      strong= employee.job_title
                  if session.email
                    .row
                      hr.divider
                      .col-xs-4
                        a.btn.btn-success.btn-lg.btn-block(href='EditEmployee?email=#{employee.email}')
                          | Edit  
                          span.glyphicon.glyphicon-pencil
                      .col-xs-4
                        a.btn.btn-danger.btn-lg.btn-block(href="/DeleteEmployee?email=#{employee.email}", onClick="return confirm('Chắc chắn xóa?')")
                          | Delete 
                          span.glyphicon.glyphicon-trash
                .col-xs-4
                  img.thumbnail(src='#{employee.avatar_url!="#" ? employee.avatar_url : "images/avatars/default.png"}' alt='Avatar' width='100%')
            else
              em.em No data
        include ./common/footer
