doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title Employee Directory | Group 01 | Nguyễn Bá Anh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-table.css')
    script(type='text/javascript', src='js/bootstrap-table.js')
    link(href='css/dataTables.bootstrap.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/dataTables.bootstrap.js')
    script.
      $(document).ready(function () {
          $('#EmployeeData').dataTable({
            "bPaginate": false,
            "info": false,
          });
        });

    body(style='padding-top: 60px;')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#')
            span.glyphicon.glyphicon-user
          a.navbar-brand(href='/') Employee Directory
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                | Employees 
                span.sr-only (current)
            li
              a(href='ViewDepartmentList') Departments
          .nav.navbar-nav.navbar-right
            include ./common/login_form
        // /.navbar-collapse
      // /.container
    .container-fluid
      .col-sm-2
        .well.sidebar-nav(style='padding:0px 1px;')
          //.panel.panel-default
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-user
            small &nbsp;
              b EMPLOYEES
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='ViewEmployeeList') List
            li
              a(href='Register') Add New
          h5.nav-header &nbsp;&nbsp;
            i.glyphicon.glyphicon-inbox
            small &nbsp;
              b DEPARTMENTS
          ul.nav.nav-pills.nav-stacked
            li
              a(href='ViewDepartmentList') List
            li
              a(href='AddNewDepartment') Add New
          if session.email
            h5.nav-header &nbsp;&nbsp;
              i.glyphicon.glyphicon-tag
              small &nbsp;
                b PERSONAL
            ul.nav.nav-pills.nav-stacked
              li
                a(href='ViewEmployee?email=#{session.email}') My Profile
            
      .col-sm-10
        
        .well
          .row
            .col-md-6
              h1
                strong.text.text-left Employee List
            .col-md-6
              h3.text.text-right Page #{page}/#{Math.ceil(total_records/items_per_page)} : #{start_point + 1}-#{start_point+items_per_page)/#{total_records+1}
          table#EmployeeData.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
              tr
                //th
                  input(type='checkbox')
                th Name
                th Department
                th Job Title
                th Address
                th Email
            if employee_list
              tbody
                each item in employee_list
                  tr
                    //td
                      input(type='checkbox')
                    td
                      if session.email
                        a.text.text-italic(href='/ViewEmployee?email=#{item.email}')
                          strong= item.name
                      else
                        strong= item.name
                    td= (item.department ? item.department.department_name : 'None')
                    td= item.job_title
                    td= item.address
                    td= item.email
          nav.text.text-center
            ul.pagination
              - var total_page = Math.ceil(total_records/items_per_page);
              if total_page > 1 && page > 1
                li
                  a(href='?page=1', aria-label='Previous')
                    span(aria-hidden='true') &laquo;
              - for (var i=1; i <= total_page ; i++)
                - if (i == page)
                  li.active
                    a(href='?page=#{i}')= i
                      span.sr-only (current)
                - else
                  li
                    a(href='?page=#{i}')= i
              if total_page > 2 && page < total_page
                li
                  a(href='?page=#{total_page}', aria-label='Previous')
                    span(aria-hidden='true') &raquo;
            
        include ./common/footer
