if session.message
  - var message = session.message;
  - session.message = null;
      script(type='text/javascript').
          $(window).load(function(){
           $('#MessageModal').appendTo("body").modal('show');
          });
      div.alert.alert-danger
        button.close(type='button',data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true')&times;
        b Message from Server: 
        span= message
      //#MessageModal.modal.fade(data-backdrop="false")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h5.modal-title Message from Server
            .modal-body
              p= message
.well
  | © Summer Boot Camp 2016 - Bá Anh Nguyễn.
// /.well
script(src='js/vendor/bootstrap.min.js')
script(src='js/main.js')