if session.email
  form.navbar-form(action='Logout', method='get')
    .form-group
      label.control-label(style='color:silver;') #{session.name} &nbsp;
      button.btn.btn-danger(type='submit') Logout
else
  form.navbar-form.navbar-left(action='Login', method='post')
    .form-group
      input.form-control(type='text', name="email", placeholder='Email',required='')
    .form-group
      input.form-control(type='password', name="password", placeholder='Password',required='')
    button.btn.btn-success(type='submit') Login